<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">   
  <dict>

<key>EnvironmentVariables</key>
    <dict> 
           <key>SPOTIPY_CLIENT_ID</key>
           <string>var</string>
<key>SPOTIPY_CLIENT_SECRET</key>
           <string>var</string>
    
<key>SPOTIPY_REDIRECT_URI</key>
           <string>var</string>
    </dict>

 <key>Label</key>
    <string>com.example.other</string>

    <key>Program</key>
    <array>
    <string>echo $PWD</string>
<string>/Users/andrewcaravaggio/SideProjects/songs/spotipy_example.py</string>
</array>
<key>StartInterval</key>
    <integer>120</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/Users/andrewcaravaggio/SideProjects/error.txt</string>
    <key>StandardOutPath</key>
    <string>/Users/andrewcaravaggio/SideProjects/output.txt</string>
  </dict>
</plist>